* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;

  --alturaForm: 50vh;
}

body {
  background-color: blue;
}

html {
  background-color: green;
}

.container {
  background-color: red;
  width: var(--alturaForm);
  margin: calc((100vh - var(--alturaForm))/2) auto;
  padding: 8px;
  height: var(--alturaForm);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  border: 2px solid black;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
